.header_top {
    padding: 10px 0px;
    background: #000d6b;
    color: #fff; 
}

.header_top_left {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 10px;
}

.header_top_left span{
    font-size: 0.9rem;
}

.header_top_help{
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
}

.header_top_help i {
    background: #fff;
    color: #000d6b;
    padding: 4px 4px;
    border-radius: 50px;
    font-size: 1rem;
}

.header_top_right a{
    text-decoration: none;
    color: #fff; 
    font-size: 1rem;
}

.header_top_right a:hover {
    color: #fff;
}


/*--------------- header middle style --------------------- */

.header_middle {
    padding: 20px 0px;
}

.logo h1 a span {
    font-size: 1.5rem;
}

.logo h1 a i {
    font-size: 2.2rem;
    
}

.logo h1 a{
    text-decoration: none;
    color:#000d6b;
    font-weight: 700;
}

.logo h1 {
    line-height: 1.5rem;
}

.header_location span i {
    font-size: 2.2rem;
    color: #000d6b;
}

.header_location-content h4 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #000d6b;
}

.header_location-contetn h6{
    font-weight: 500;
}

.header_btn {
    background: #000d6b !important;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.header_btn a {
    display: flex;
    align-items: center;
    column-gap: .4rem;
    text-decoration: none;
    color: #fff;
    justify-content: end;
}

.header_btn a:hover {
    color: #fff;
}

/* --------------- main navbar styles -------------- */

.main_navbar{
    padding: 15px 0px;
    background: #000d6b;
}

.mobile_menu i {
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
}

.mobile_menu {
    display: none;
}

.menu{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    color: #fff;
    cursor: pointer;
}

.nav_item{
    color: #fff;
    text-decoration: none;
}

.nav_item:hover{
    color: #fff;
}

